
<h1>
    Edit Tip:
</h1>

<form method="post" action="/quizzes/<%= quiz.id %>/tips/<%=tip.id%>?_method=PUT">

    <div class="wideRow">
        <label for="text" class="itemNarrow">Edite la pista: </label>
        <input type="text" class="itemWide" id ="text" name="text" value="<%tip.text%>" placeholder= "Escriba la pista que quiera" autocomplete="off"/>
    </div>

    <a href="/goback"><button type="button">Cancel</button></a>

    <button type="submit" class="itemNarrow">Add</button>

</form>
